@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "breakpoint";


// === Variables ===
// Color: Start
$color1: #FFFFFF;
$color2: #5B5B5B;
$color3: #FFE6D8;
$color4: #FA9055;
$color5: #D45F48;
$color6: #FFC2A0;
// Color: End

// Border: Start
$borderStyle: 2px solid $color2;
$borderRight: 2px solid $color2;
$borderLeft: 2px solid $color2;
$borderTop: 2px solid $color2;
$borderBottom: 2px solid $color2;
// Border: End

// Font Size: Start
$fontSize1: 12px;
$fontSize2: 16px;
$fontSize3: 20px;
$fontSize4: 40px;
// Font Size: End

// Weight: Start
$fontWeight1: 300;
$fontWeight2: 400;
$fontWeight3: 500;
$fontWeight4: 600;
$fontWeight5: 700;
// Weight: End

// Transitions: Start
$transition: all 0.8s ease;
// Transitions: End
// === Variables ===



// All: Start
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.border-style {
    border: $borderStyle;
}

body {
    background-color: $color3 !important;
}
// All: End


// Header: Start
.header {
    border: $borderStyle;
    @include breakpoint-down(md) {
        position: relative !important;
        margin: 0;
        padding: 0;
    }

    @include breakpoint-up(md) {
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 50;
        width: 1366px;
        background: $color1;
    }
    .desktop-nav {  
        .navigation {
            display: flex;
            @include breakpoint-down(md) {
                display: none;
            }
            .nav-links-left, .nav-links-right  {
                padding: 0;
                .nav-item {
                    .nav-link {
                        color: $color2;
                        padding: 16px 50px 16px 50px;
                        &:hover {
                            color: $color4;
                        }
                    }
        
                    .nav-signup {
                        color: $color5;
                    }
                }
            }

            .img-company {
                height: 70px;
                border-left: $borderLeft;
                border-right: $borderRight;
            }
        }
    }
    
    .mobile-nav {
        display: none;
        @include breakpoint-down(md) {
            display: block;
        }
        .nav {
            position: relative;
            z-index: 100;
            .hamburger-button {
                height: 22px;
                border: none;
                background: none;
                span {
                    transition: all 0.6s ease;
                }
                .top, .middle, .bottom {
                    width: 28px;
                    height: 4px;
                    background-color: $color5;
                }
                .top {
                    transform-origin: 0 0;
                }
            }

            .burger {
                .top {
                    transform-origin: 0 0;
                    transform: rotate(45deg) translate(-0.5px, 0);
                }
                .middle {
                    transform: scale(0);
                }
                .bottom {
                    transform-origin: 0 100%;
                    transform: rotate(-45deg) translate(-0.5px, 0);
                }
            }
        }

        .open {
            transform: translateY(0) !important;
        }

        .links-mobile {
            @include breakpoint-down(md) {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 623px;
                position: absolute;
                background-color: $color1;
                border: $borderStyle;
                left: 0;
                top: 0;
                transform: translateY(-100%);
                z-index: 50;
                transition: all 0.8s ease-in-out;
            }
            @include breakpoint-up(md) {
                display: none;
            }
            .nav-items-mobile {
                .nav-item {
                    margin: 30px 0;
                    .nav-link {
                        color: $color2;
                        &:hover {
                            color: $color4;
                        }
                    }
                }
                .nav-item:nth-child(4) {
                    .nav-link {
                        color: $color5;
                        &:hover {
                            color: $color4;
                        }
                    }
                }
            }
        }
    }
}
// Header: End


// Hero: Start
.hero {
    width: 100%;
    height: 100vh;
    border-left: $borderLeft;
    border-right: $borderRight;
    @include breakpoint-down(md) {
        width: 100%;
        height: 768px;
        border-bottom: $borderBottom;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .bg-hero {
        background: $color4;
        top: 0;
        left: -11.6px;
        width: 37%;
        height: 100vh;
        z-index: -20;
        position: absolute;
        border-right: $borderRight;
        @include breakpoint-down(md) {
            width: 100%;
            height: 409px;
            top: 0;
            left: 0;
            border-right: none;
            border-bottom: $borderBottom;
        }
    }
    .text-hero {
        position: relative;
        top: 95px;
        @include breakpoint-down(md) {
            margin: 0 auto;
        }
        // Left Side: Start
        .left-side {
            width: 240px;
            @include breakpoint-down(md) {
                text-align: center;   
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
            .hero-title {
                font-size: $fontSize4;
                font-weight: $fontWeight4;
                color: $color1;
                @include breakpoint-down(md) {
                    margin-bottom: 40px;
                }
            }
            .hero-subtitle {
                font-size: $fontSize3;
                font-weight: $fontWeight2;
                color: $color1;
                @include breakpoint-down(md) {
                    margin-bottom: 40px;
                }
            }
        }
        // Left Side: End

        // Img Hero: Start
        .img-hero {
            border: $borderStyle;
            object-fit: cover;
            width: 696px;
            @include breakpoint-down(md) {
                width: 280px;
                margin: 0 auto 80px auto;
            }
        }
        // Img Hero: End

        // Button CTA: Start
        .btn-cta {
            top: 95%;
            left: 42%;
            @include breakpoint-down(md) {
                top: 68%;
                left: 7.5%;
            }
            .btn-hero {
                padding: 17px 26px 17px;
                font-size: $fontSize2;
                font-weight: $fontWeight3;
                color: $color1;
                background-color: $color5;
                border: $borderStyle;
                transition: $transition;
                &:hover {
                    background-color: $color4;
                }
                @include breakpoint-down(md) {
                    padding: 8px 10px 8px;
                    width: 238px;
                }
            }
        }
        // Button CTA: End

        // Right Side: Start
        .right-side {
            @include breakpoint-down(md) {
                margin: 0 auto;
            }
            .hero-subtitle {
                width: 220px;
                text-align: end;
                @include breakpoint-down(md) {
                    text-align: center;
                }
            }
        }
        // Right Side: End
    }
}
// Hero: End


// Product: start
.product {
    @include breakpoint-down(md) {
        position: relative;
        border-top: none;
        margin: 0 0;
        padding: 0 0;
    }
    .img-product {
        height: 768px;
        border-right: $borderRight;
        @include breakpoint-down(md) {
            border-right: none;
            height: 100%;
        }
        img {
            object-fit: cover;
            border: $borderStyle;
            @include breakpoint-down(md) {
                width: 306px;
                height: 306px;
            }
        }
    }

    .desc {
        @include breakpoint-down(md) {
            text-align: center;
            justify-content: center;
            margin: 0 auto;
        }
        .title-product {
            margin-bottom: 20px;
            color: $color4;
            font-size: $fontSize4;
            font-weight: $fontWeight3;
            @include breakpoint-down(md) {
                margin: 0 auto 40px auto;
            }
        }
        .desc-product {
            margin-bottom: 50px;
            color: $color2;
            font-size: $fontSize3;
            font-weight: $fontWeight2;
            @include breakpoint-down(md) {
                margin: 0 auto 40px auto;
            }
        }
        .btn-cta {
            @include breakpoint-down(md) {
                margin: 0 auto 40px auto;
            }
            .btn-product {
                padding: 17px 52px;
                background-color: $color5;
                border: 2px solid $color2;
                color: $color1;
                transition: $transition;
                &:hover {
                    background-color: $color4;
                    color: $color1;
                }
            }
        }
    }
}
// Product: End


// Find Our Products: Start
.find-our {
    border-right: $borderRight;
    border-left: $borderRight;
    @include breakpoint-down(md) {
        height: 1300px;
        margin: 0;
        padding: 0;
    }
    .title-find {
        padding: 65px 40px 65px 0;
        color: $color5;
        @include breakpoint-down(md) {
            padding: 50px 10px;
            margin: 0 auto;
        }
    }

    .span {
        height: 768px;
        border-right: $borderRight;
        @include breakpoint-down(md) {
           display: none;
        }
    }

    .card-products {
        padding: 65px 0 0 60px;
        @include breakpoint-down(md) {
            padding: 0 10px;
            margin: 0 auto;
        }
        .carousel-wrapper {
            max-width: 1000px;
            @include breakpoint-down(md) {
                // max-width: 30px;
            }
            .carousel-item {
                // display: flex;
                margin-bottom: 40px;
                border: none;
                border-radius: 0;
                img {
                    width: 443px;
                    object-fit: cover;
                    @include breakpoint-down(md) {
                        width: 100%;
                    }
                }
                .desc-find {
                    background: $color5;
                    height: 547px;
                    padding: 130px 40px 130px;
                    @include breakpoint-down(md) {
                        text-align: center;
                    }
                    .title-desc-find {
                        margin-bottom: 20px;
                        color: $color1;
                        font-size: $fontSize4;
                        font-weight: $fontWeight3;
                    }
                    .desc-find-our {
                        margin-bottom: 50px;
                        color: $color1;
                        font-size: $fontSize3;
                        font-weight: $fontWeight2;
                    }
                    .btn-cta {
                        .btn-find-our {
                            padding: 17px 52px;
                            background-color: $color1;
                            border: 2px solid $color2;
                            color: $color4;
                            transition: $transition;
                            &:hover {
                                color: $color1;
                                background-color: $color4;
                            }
                        }
                    }
                }
            }

            .open-slide {
                display: flex;
            }
        }
    }

    .control {
        top: 85%;
        left: 41%;
        @include breakpoint-down(md) {
            top: 89%;
            left: 32%;
        }
        .prev, .next {
            background-color: transparent;
            border: 2px solid $color2;
        }
        .prev {
            margin-right: 20px;
        }
        .next {
            margin-left: 20px;
        }
    }
}
// Find Our Products: End


// About Us: Start
.about-us {
    padding: 100px 0 90px 0;
    .about-logo {
        img {
            width: 567px;
            @include breakpoint-down(md) {
                width: 310px;
            }
        }
    }

    .about-desc {
        padding: 40px 140px 89px 40px;
        width: 567px;
        @include breakpoint-down(md) {
            padding: 40px 0;
            width: 310px;
            height: 380px;
            text-align: center;
        }
        .title-about {
            color: $color4;
            margin-bottom: 20px;
            font-size: $fontSize4;
            font-weight: $fontWeight3;
        }
        .desc-about-us {
            padding: 0 10px;
            font-size: $fontSize3;
            font-weight: $fontWeight2;
        }
    }
}
// About Us: End


// Teabags Company: Start
.teabags-company {
    overflow: hidden;

    @include breakpoint-down(md) {
        margin: 0;
        padding: 0;
    }
    .teabags {
        padding: 23px 20px 16px 20px;
        border-right: $borderRight;
        border-left: $borderLeft;
        .title-teabags {
            font-size: $fontSize2;
            font-weight: $fontWeight3;
            color: $color2;
        }
    }

    .span {
        width: 1366px;
        border-top: $borderTop;
    }

    .images-company {
        width: 110%;
        height: 350px;
        z-index: -50;
        position: relative;
        top: 50%;
        left: 75%;
        transform: translate(-65%, 0);
        overflow: hidden;
        @include breakpoint-down(md) {
            width: 150%;
            left: 95%;
        }
        .inner-slider {
            width: 220%;
            position: absolute; 
            pointer-events: none;
            touch-action: none;
            top: 0;
            left: 0;
            @include breakpoint-down(md) {
                width: 680%;
            }
            .card {
                background: $color3;
                padding: 35px 10px 35px;
                border: none !important;
                border-radius: 0 !important;
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
// Teabags Company: End


// Footer: Start
.footer {
    border-top: $borderTop;
    background-color: $color6;
    overflow: hidden;
    .footer-links {
        width: 762px;
        .links {
            .nav-item {
                .nav-link {
                    padding: 20px 0 !important;
                    font-size: $fontSize2;
                    font-weight: $fontWeight3;
                    color: $color2;
                }
            }
        }

        .link-signup {
            .nav-item {
                .nav-link {
                    padding: 20px 0 !important;
                    font-size: $fontSize2;
                    font-weight: $fontWeight3;
                    color: $color2;
                }
            }

            .c-form {
                padding: 20px 0 0 0;
                .input-items {
                    .fname, .lname {
                        border: none !important;
                        margin-bottom: 40px;
                        margin-right: 20px;
                        border-bottom: 2px solid $color2 !important;
                        background-color: transparent !important;
                        @include breakpoint-down(md) {
                            text-align: center;
                            padding-bottom: 20px;
                            margin: 20px 0;
                        }
                    }
                }

                .btn-submit {
                    padding: 5px 27px 5px;
                    background-color: $color5;
                    color: $color1;
                    font-size: $fontSize1;
                    font-weight: $fontWeight3;
                    transition: $transition;
                    &:hover {
                        background-color: $color4;
                    }
                    @include breakpoint-down(md) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .span {
        width: 1366px;
        border-top: $borderTop;
    } 
    
    .social-media {
        width: 90%;
        padding: 30px 0 30px;
    }
}
// Footer: End